body {
  text-align: center;
//  background-image:url(/images/graynn.svg);
//  background-size:cover;
background-color: #FFFFFF
}

.top-social{
  width:30px;
  height:30px;
  position:relative;
  z-index:100;
  float:right;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
}


.icon:hover{
  transform:scale(1.2);
}

div {
  margin-top: 0px;
}

.centerHeader {
    margin: auto;
    width: 50%;
    padding: 20px;
    font: 50px Andale Mono, monospace;
}


p.bio{
  margin: auto;
  width: 70%;
  padding: 10px;
	font: 17px Andale Mono, monospace;
}

p.tiny{
  margin: auto;
  width: 70%;
  padding: 10px;
  font: 12px Andale Mono, monospace;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 0px;
  margin-left: 0px;
  background-color: white;
}


.textWithBlurredBg{
    width:300px;
    height:auto;
    display:inline-block;
    position:relative;
    transition:.01s;
    margin:4px;
  }
  
  .textWithBlurredBg img{
    width:100%;
    height:100%;
    transition:.01s;
    border-radius:4px;
  }
  
  .textWithBlurredBg:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px gray;
  }
   

  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.01s;
  }
  
  .textWithBlurredBg h3{
    top:50%
  }
  
  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }